<div class="header">
    <p class="title">Reservations App</p>
</div>
<div class="customer-type">
    <p>I am a...</p>
    <input type = "radio" name = "userType" value = "Customer" (click)="customerRadioButtonClicked()">Customer
    <input type = "radio" name = "userType" value = "Restaurant" (click)="restaurantRadioButtonClicked()">Restaurant
</div>
<br>
<div *ngIf="userType == 'Customer'">
    <app-customerform></app-customerform>
</div>
<div *ngIf="userType == 'Restaurant'">
    <app-restaurantform></app-restaurantform>
</div>
<br>
<button (click)="attemptSignUp()">Sign Up</button>
<br>
<br>
<button routerLink = "">Cancel</button>