<div class="header">
    <p class="title">Reservations App</p>
</div>
<div class="sign-up">
    <p class="row">Username:</p>
    <input class="row" type="text" id="username" [(ngModel)]="username">
    <p class="row">Confirm Username:</p>
    <input class="row" type="text" id="username" [(ngModel)]="confirm_username">
    <p>Password:</p>
    <input type="text" id="password" [(ngModel)]="password">
    <p>Confirm Password:</p>
    <input type="text" id="password" [(ngModel)]="confirm_password">
</div>
<div class="customer-type">
    <p>I am a...</p>
    <input type = "radio" name = "userType" value = "Customer" (click)="customerRadioButtonClicked()">Customer
    <input type = "radio" name = "userType" value = "Restaurant" (click)="restaurantRadioButtonClicked()">Restaurant
</div>
<br>
<div *ngIf="userType == 'Customer'">
    <p>customer test</p>
</div>
<div *ngIf="userType == 'Restaurant'">
    <app-restaurantform></app-restaurantform>
</div>
<br>
<button (click)="attemptSignUp()">Sign Up</button>
<br>
<br>
<button routerLink = "">Cancel</button>