<form [formGroup]="form" (ngSubmit)="submitReservation()">
    <label>Reservation Date: </label>
    <br>
    <input type="date" value="2023-04-04" formControlName="reservationDate">
    <br>
    <label> Number of Guests:</label>
    <br>
    <input type="number" step="1" formControlName="guestNum">
    <br>
    <label> Special Accomodation: </label>
    <br>
    <input type="text" formArrayName="specialAccomodation" placeholder="special Accomodation">
    <br>
    <br>
    <button type="submit" (click)="submitReservation()">Submit</button>
</form>