<div class="container">
    <div class="left-column">
        <p>{{formTitle}}</p>
        <br>
        <p class="row">Username:</p>
        <input class="row" type="text" id="username" [(ngModel)]="username">
        <p class="row">Confirm Username:</p>
        <input class="row" type="text" id="username" [(ngModel)]="confirm_username">
        <p>Password:</p>
        <input type="text" id="password" [(ngModel)]="password">
        <p>Confirm Password:</p>
        <input type="text" id="password" [(ngModel)]="confirm_password">
        <br>
        <label for="">name: </label>
        <input [(ngModel)]="name">
        <br>
        <label for="">address: </label>
        <input [(ngModel)]="address" placeholder="restaurant address">
        <br>
        <label> phone: </label>
        <input [(ngModel)]="phone" placeholder="phone number">
        <br>
        <label>openAt: </label>
        <input [(ngModel)]="openAt" placeholder="open at">
        <br>
        <label> close At</label>
        <input [(ngModel)]="closeAt" placeholder="close at">
        <br>
        <label for="">Seats</label>
        <input [(ngModel)]="totalSeats" placeholder="total number of seats">
        <br>
        <button routerLink="/restaurantPage" (click)="submit()">submit</button>
    </div>
<div class="right-column">

</div>

</div>