<div class="container">
    <div class="left-column">
        <p>restaurant registration form</p>
        <label for="">name: </label>
        <input [(ngModel)]="name">
        <br>
        <label for="">address: </label>
        <input [(ngModel)]="address">
        <br>
        <label> phone: </label>
        <input [(ngModel)]="phone">
        <br>
        <label>openAt: </label>
        <input [(ngModel)]="openAt">
        <br>
        <label> close At</label>
        <input [(ngModel)]="closeAt">
        <br>
        <label for="">Seats</label>
        <input [(ngModel)]="totalSeats">
        <br>
        <button (click)="submit()">submit</button>
    </div>
<div class="right-column">

</div>

</div>