.container{
    display: flex;
    width: fit-content;
    margin: 50px;
}
.left-column{
    flex: 1;
    padding: 10px;
    background-color: rgba(83, 192, 225, 0.785);
}
.right-colum{
    flex:1;
    padding: 10px;
}
label{
    margin: 5px;
    padding: 10px;
}
input{
    margin: 10px;
}
