<div class="background">
    <div class="header">
        <p class="title">Reservations App</p>
    </div>
</div>
<div class="login">
    <p class="row">Username:</p>
    <input class="row" type="text" id="username">
    <p>Password:</p>
    <input type="password" id="password">
    <br>
    <br>
    <button routerLink = "/listOfRestaurants">Login</button>
    <br>
    <br>
    <button routerLink = "/signUp">Sign Up</button>
    <br>
    <br>
    <button routerLink = "/currentReservations">Temp Restaurant Login Button</button>
</div>