.background {
    background-image: url('../../../assets/restaurant_background.jpeg');
    width: 60%;
    height: 720px;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20%;
}

.login {
    display: inline-block;
    margin: auto;
    vertical-align: top;
    margin-left: 5%;
}

.title {
    font-size: 200%;
    text-align: center;
}

.header {
    background-color:cornflowerblue;
    width: 50%;
    margin: auto;
}

.row {
    white-space: nowrap;
}